.app-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  z-index: 1;
  background-color: #f4f4f4;
}

.header-container {
  position: sticky;
  display: block;
  top: 0;
  width: 100%;
}

.middle-container {
  flex: 1 0 auto;
  margin: 0 auto;
}

.footer-container {
}
