.background-image {
  max-width: 100%;
  min-width: 700px;
  height: 280px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  margin: 0 auto;
}

.background-image__image {
  position: absolute;
  top: -50%;
  max-width: 100%;
  min-width: 700px;
  background-color: transparent;
}
