.store-page {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  flex-direction: column;
}

.store-page__categories {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.store {
  background-color: #f3f3f3;
  border-radius: 1rem;
  padding: 48px;
}

.store__header {
  display: flex;
  justify-content: space-between;
}

.store__title {
  margin: 0;
  margin-bottom: 32px;
  text-align: start;
}
@media (max-width: 600px) {
  .store {
    padding: 30px 0;
    border-radius: 0;
  }
  .store__title {
    margin-left: 16px;
  }
}