.store-page {
  display: flex;
  justify-content: center;
}

.store-page__categories {
  margin-top: 16px;
  max-width: 1440px;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
