.category-card {
  position: relative;
  width: 220px;
  background: white;
  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 16px;
  box-sizing: border-box;
  transition:
    background-color 0.2s ease,
    border 0.2s ease,
    color 0.2s ease;
  text-wrap: pretty;
}

.category-card#all {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.category-card:hover {
  background-color: #d8d8d8;
}

.category-card#all:hover {
  border: 2px solid #d8d8d8;
  background-color: #d8d8d8;
  color: black;
}
