.category-card {
  position: relative;
  width: 220px;
  background: white;
  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  margin: 16px;
  transition:
    background-color 0.2s ease,
    border 0.2s ease,
    color 0.2s ease;
  text-wrap: pretty;
  outline: 0;
  border: 0;
}
.category-card__image {
  margin-right: 2rem;
}

.category-card.active {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.category-card:not(.active):hover {
  background-color: #d8d8d8;
}
