.cart-list {
    margin-bottom: 6rem;
    max-width: 1440px;
    background-color: white;
    padding: 48px;
    border-radius: 1rem;
}
.cart-list__title {
    margin-top: 0;
    color: black;
}
.cart-list__list {
    padding: 0;
    min-width: 300px;
}