.cart-list {
  margin-bottom: 6rem;
  max-width: 1440px;
  background-color: white;
  padding: 48px;
  border-radius: 1rem;
}
.cart-list__title {
  margin-top: 0;
  color: black;
}
.cart-list__list {
  padding: 0;
  min-width: 300px;
}
.cart-list__result {
  display: flex;
  flex-direction: column;
}
.cart-list__sum {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.cart-list__button {
  display: flex;
  box-sizing: border-box;
  max-width: max-content;
  margin-left: auto;
  border-radius: 0.7rem;
  height: 2rem;
  border: none;
  background-color: #ffd600;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in;
  outline: 1px solid rgb(107, 107, 107);
}
.cart-list__button:hover {
  scale: 1.07;
  outline: 1px solid black;
}
.cart-list__button:active {
  background-color: #e2bc00;
  scale: 1.07;
}
