.footer {
  position: relative;
  width: 100%;
  max-height: 200px;
  background-color: rgb(32, 32, 32);
  color: gray;
  box-shadow: 0px -10px 15px 20px  rgb(32, 32, 32);
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__socials-icons {
  height: 30px;
  width: 100%;
}
.footer__massage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  a {
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
  } 

}
.footer__message-question {
  font-size: 0.8rem;
}
.footer__info {
  display: flex;
  max-height: 124px;
}
.footer__copyright {
  font-size: 0.7rem;
}
.footer__copyright-text {
  font-size: 0.6rem;
  a {
    text-decoration: none;
    color: gray;
  }
}
.footer__copyright-left {
  margin-left: 5px;
  max-width: 40%;
}